:root {
    --base: #191724;
    --surface: #1f1d2e;
    --overlay: #26233a;
    --muted: #6e6a86;
    --subtle: #908caa;
    --text: #e0def4;
    --love: #eb6f92;
    --gold: #f6c177;
    --rose: #ebbcba;
    --pine: #31748f;
    --foam: #9ccfd8;
    --iris: #c4a7e7;
    --highlight-low: #21202e;
    --highlight-med: #403d52;
    --highlight-high: #524f67;
}

body {
    background: var(--surface);
    color: var(--text);
}

html {
    scrollbar-color: #555169 rgba(0, 0, 0, 0.1);
}

a, .status__content a.unhandled-link {
    color: var(--pine);
}

.tabs-bar__wrapper {
    background: var(--surface);
}

.tabs-bar__link.active {
    border-bottom: 2px solid var(--love);
    color: var(--gold);
}

.notification__message .fa {
    color: var(--iris);
}

.status {
    border-bottom: 1px solid var(--pine);
}

.icon-with-badge__badge {
    background: var(--foam);
    border: 2px solid var(--surface);
}

.search__input {
    border-radius: 4rem;
    background: #555169;
    color: var(--foam);
}

.icon-button.star-icon.active,
.notification__favourite-icon-wrapper .star-icon {
    color: var(--gold);
}

.icon-button {
    color: var(--pine);
}

.notification__message {
    color: var(--muted);
}

.muted .status__content,
.muted .status__content a,
.muted .status__content p,
.muted .status__display-name strong {
    color: var(--muted);
}

.column-header.active .column-header__icon {
    color: #2b90d9;
    text-shadow: 0 0 10px rgb(43 144 217 / 40%);
}

.column-header.active .column-header__icon {
    color: var(--foam);
    text-shadow: 0 0 10px rgb(246 193 119 / 40%);
}

.icon-button.active {
    color: var(--rose);
}

.text-icon-button {
    color: var(--love);
}

.column-link--transparent.active {
    color: var(--pine);
}

.confirmation-modal__container,
.report-modal__target {
    background-color: var(--overlay);
    color: var(--text);
}

.confirmation-modal__action-bar {
    background-color: var(--base) !important;
    color: var(--text);
}

.confirmation-modal,
.mute-modal,
.report-modal {
    background-color: var(--base);
    color: var(--text);
}

.button--block,
.logo-button {
    background-color: var(--pine);
    color: var(--text);
}

.button--block:hover {
    background-color: var(--foam);
    color: var(--text);
}

.autosuggest-textarea__textarea {
    background-color: var(--overlay);
    color: var(--text);
}

.compose-form,
.compose-form__buttons-wrapper {
    background-color: var(--surface);
    color: var(--text);
}

.compose-form,
.compose-form__modifiers,
.compose-form__uploads-wrapper {
    background-color: var(--surface);
    color: var(--text);
}

.poll__chart.leading {
    background: var(--foam) !important;
}

.poll__chart {
    background: var(--love) !important;
}

.compose-form .autosuggest-textarea__textarea,
.compose-form .spoiler-input__input {
    background: #393552;
    color: var(--text);
}

.compose-form .compose-form__buttons-wrapper {
    background: #2a273f;
    color: var(--text);
}

.drawer__header {
    background: none;
}

.drawer__inner__mastodon {
    background-color: var(--surface);
    background: var(--surface) !important;
}

.compose-form__uploads-wrapper {
    display: none !important;
}

.column-header {
    background: var(--overlay);
}

.account__section-headline button,
.notification__filter-bar button {
    background: var(--base);
}

.item-list {
    background: var(--surface);
}

.search__input {
    background: var(--overlay);
}

.navigation-bar {
    background: var(--overlay);
}

.column-header__button {
    background: var(--overlay);
}

.column-header__back-button {
    background: var(--overlay);
    color: var(--pine);
}

.column-back-button {
    background: var(--overlay);
    color: var(--pine);
}

.column-subheading {
    background: #555169;
    color: var(--text);
}

.column-link {
    background: #555169;
}

.column-link:hover {
    background: var(--muted);
}

.getting-started__footer {
    background: var(--overlay);
}

.detailed-status {
    background: var(--overlay);
}

.detailed-status__action-bar {
    background: #2a2837;
}

.column {
    background: var(--overlay) !important;
}

.account__header__bar {
    background: var(--overlay) !important;
}

.admin-wrapper {
    background: var(--surface);
}
.account__section-headline,
.notification__filter-bar {
    background: var(--base);
    border-bottom: 1px solid var(--pine);
}

.button.logo-button.button--destructive:focus,
.button.logo-button.button--destructive:hover {
    background: var(--love);
}

.button.logo-button {
    background: var(--pine);
    color: var(--text);
}

.button.logo-button:hover {
    background: var(--foam);
}

.column > .scrollable {
    background: var(--surface) !important;
}

.reply-indicator {
    background: var(--muted);
}

.react-toggle--checked .react-toggle-track {
    background-color: var(--pine);
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: var(--foam);
}

.filter-form {
    background: var(--overlay);
}

.directory__card__bar {
    background: var(--base);
}

.directory__card__extra {
    background: var(--surface);
}

.column-header__collapsible-inner {
    background: var(--muted);
}

.admin-wrapper .sidebar-wrapper__inner {
    background: var(--overlay);
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
    color: var(--text);
    background-color: var(--pine);
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a:hover {
    background-color: var(--foam);
}

.button {
    background-color: var(--pine);
}

.button:active, .button:focus, .button:hover {
    background-color: var(--foam);
}

.announcements__item {
    background: #555169;
}

.box-widget {
    background: var(--overlay);
}

body.lighter {
    background: var(--surface);
}

.simple_form button {
    background-color: var(--pine);
}

.simple_form button:hover {
    background-color: var(--foam);
}

.simple_form button.negative {
    background: var(--love);
}

.simple_form button.negative:hover {
    background: var(--rose);
}

.simple_form button {
    background: var(--pine);
}

.simple_form button:hover {
    background: var(--foam);
}

.simple_form .button, .simple_form button {
    background-color: var(--pine);
}

.simple_form .button:hover, .simple_form button:hover {
    background-color: var(--foam);
}

.directory__tag > a, .hero-widget__text {
    background: var(--overlay);
}

.privacy-dropdown__option.active {
    background: var(--pine);
    color: var(--text);
}

.privacy-dropdown__option.active:hover {
    background: var(--foam);
    color: var(--text);
}

.privacy-dropdown__option:hover {
    background: var(--foam);
    color: var(--text);
}

.privacy-dropdown__option {
    background: #555169;
    color: var(--base);
}

.compose-form__poll-wrapper {
    border-top: 1px solid #555169;
    background: var(--overlay);
    color: var(--text);
}

.poll__footer {
    background: var(--overlay);
    color: var(--text);
}

select {
    background: var(--overlay);
    color: var(--text);
}

.emoji-mart-bar:first-child {
    background: var(--surface);
}

.emoji-mart-bar:first-child {
    background: var(--muted);
}

.emoji-mart-anchor:hover {
    color: var(--text);
}

.emoji-mart-search {
    background: var(--surface);
}

.emoji-mart-search input {
    background: #555169;
    color: var(--text);
}

.emoji-mart-scroll {
    background: var(--surface);
}

.emoji-mart-category-label span {
    background: var(--surface);
    color: var(--text);
}

.emoji-picker-dropdown__menu {
    background: var(--surface);
}

.emoji-mart-anchor-selected {
    color: var(--foam);
}

.status__content a {
    color: var(--pine);
}
